VITE_SHOPIFY_STORE_DOMAIN=mdrnlifeddw.com
VITE_SHOPIFY_CHECKOUT_DOMAIN=orise-6796.myshopify.com
VITE_SHOPIFY_GLASS_VARIANT_ID=41077216739362
VITE_SHOPIFY_PET_VARIANT_ID=41122368749602
VITE_SHOPIFY_GLASS_SELLING_PLAN_ID=27086716962
VITE_SHOPIFY_GLASS_SELLING_PLAN_ID_2=27086749730
VITE_SHOPIFY_GLASS_SELLING_PLAN_ID_3=27086782498
VITE_SHOPIFY_PET_SELLING_PLAN_ID=27086716962
VITE_SHOPIFY_PET_SELLING_PLAN_ID_2=27086749730
VITE_SHOPIFY_PET_SELLING_PLAN_ID_3=27086782498
VITE_SHOPIFY_STOREFRONT_API_URL=https://orise-6796.myshopify.com/api/2026-04/graphql.json
VITE_SHOPIFY_STOREFRONT_TOKEN=
